
body  {

    font-family: 'Times New Roman', Times, serif;
    background-color:white ;
    padding: 0;
    margin: o;
    line-height: 1.6;
    
  
} 

#resume-form  { 
    background-color:rgb(230, 197, 154);
    margin: auto ;
    border: 2px solid;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px
}
h1  {
    text-align: center;
    background-color: rgb(211, 165, 106);
    color: black;


}

fieldset  {
    border: 3px solid rgb(243, 201, 146);
    padding: 20px;
    margin-bottom: 20px; 
    background-color:rgb(250, 229, 203);
    border-radius: 10px;

    }

legend {
    text-align: left;
    font-size: 25px;
    color: black;
 }
label {
    display: block;
    margin-top: 10px ;
    color:black;
    
 }
 
input,textarea  {
    margin-top: 4px;
    width:450px;
     padding: 8px;

}

#resume-display  {
    background-color: rgb(207, 165, 109);
    margin: 40px auto;
    border: 2px solid;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 600px;
    
    
}


